.right_col{role:"main"}
  .row.big-padding
    .col-md-12.col-sm-12.col-xs-12
      .row
        .col-md-3.col-sm-3.col-xs-12{id:"left-home-list"}
          = render 'partials/user_navbar'
        .col-md-6.col-sm-6.col-xs-12
          .x_panel
            =render 'posts/form'
          #posts
            .data
              =render @posts
            #pagination
              =will_paginate @posts


