.row.middle-xs.center-xs
  .col-md-12.col-sm-12.col-xs-12
    .banner-join
      .image-overlay
      .banner-text.layout_center.layout_inline.extra-lg-padding-top
        %h1.banner-title
          =link_to "Únete a Benecom",{ controller: "main", action: "join"}
        %div.banner-subtitle
          Únete a nuestra comunidad, participa activamente como donador,
          Organización Benéfica o Promotor de Noticias y Eventos.
    .row.big-padding-top.panel-padding
      .col-md-4.col-xs-12
        .panel.panel-default.panel-margin
          .panel-heading.panel-heading-blue.panel-heading-title
            Donadores
          .panel-body.panel-padding.panel-text
            Realiza una colaboración con la Organización Benéfica de tu preferencia, ayuda con
            tu aporte a las miles de causas.
            %ul{class:"remove-bullet-points no-padding"}
              %li{class:"list-element-padding"}=link_to "Leer Más",{controller:"/main",action:"learn"},class:"btn btn-warning"
      .col-md-4.col-xs-12
        .panel.panel-default.panel-margin
          .panel-heading.panel-heading-green.panel-heading-title
            Organizaciones
          .panel-body.panel-text
            Registra tu Organización en la plataforma y ponte en contacto con nuestro equipo de
            soporte para autenticar los datos de tu fundación.
            %ul{class:"remove-bullet-points no-padding"}
              %li{class:"list-element-padding"}=link_to "Leer Más",organization_certificates_path,class:"btn btn-warning"
      .col-md-4.col-xs-12
        .panel.panel-default.panel-margin
          .panel-heading.panel-heading-orange.panel-heading-title
            Promotores
          .panel-body.panel-text
            Conviértete en un promotor de noticias y eventos, comparte con el portal tu información,
            opinión y se un agente de cambio en tu comunidad.
            %ul{class:"remove-bullet-points no-padding"}
              %li{class:"list-element-padding"}=link_to "Leer Más",{controller:"/main",action:"learn"},class:"btn btn-warning"