.row.middle-xs
  .col-md-12.col-sm-12.col-xs-12
    .banner-learn
      .image-overlay
      .banner-text.layout_center.layout_inline.extra-lg-padding-top
        %h1.banner-title
          =link_to "¿Quiénes somos?",{ controller: "main", action: "learn"}
        %div.banner-subtitle
          Conoce nuestra misión, propósitos y metas, aprende como formar parte de nuetra comunidad.
    .row.big-text
      .col-md-10.col-sm-10.col-xs-10.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
        %h1.center-xs Benecom es una plataforma destinada a ayudar a las Organizaciones Benéficas Venezolanas.
        Entre los servicios que ofrece la plataforma están:
        .row.big-padding-top
          .col-md-6
            .row.middle-xs
              .col-md-3
                = image_tag asset_path("news-icon.png")
              .col-md-9
                Promover Noticias y Eventos
          .col-md-6
            .row.middle-xs
              .col-md-3
                = image_tag asset_path("donations-icon.png")
              .col-md-9
                Recibir colaboraciones momentarias en moneda local y extranjera
        .row.big-padding-top
          .col-md-6
            .row.middle-xs
              .col-md-3
                = image_tag asset_path("comunication-icon.png")
              .col-md-9
                Permitir comunicacion entre las organizaciones y la sociedad
          .col-md-6
            .row.middle-xs
              .col-md-3
                = image_tag asset_path("star-icon.png")
              .col-md-9
                Valorar y Comentar las publicaciones
        .row.big-padding-top
          .col-md-6
            .row.middle-xs
              .col-md-3
                = image_tag asset_path("report-icon.png")
              .col-md-9
                Observar Reportes de interés en función de las donaciones, comentarios y valoraciones
          .col-md-6
            .row.middle-xs
              .col-md-3
                = image_tag asset_path("verified-icon.png")
              .col-md-9
                Sistema de Autenticación de Organizaciones





