.row.full-height.middle-xs.white.center-xs.main-background.no-margin
  .col-xs-10.col-sm-8.col-md-6.col-lg-4
    .box.min-box-height.big-padding-top
      .big-padding.bg-dark-blue.white
        %h1.no-margin.bold.light-blue BeneCom
        %p.no-margin Conecta y conoce la Red Social para Organizaciones Benéficas Venezolanas
        .top-space
          =render "devise/registrations/new"




