.card-block
  .row
    .col-md-1
      %img.img-circle.img-responsive{ :src => message.user.avatar.url(:thumb)}
    .col-md-11
      %p.card-text
        %span.text-muted
          = message.user.name
          a las #{message.timestamp} dice
        %br/
        = message.body
