- friend = chat_room.get_friend(current_user,chat_room)
.x_panel
  .row.middle-xs
    .col-md-2.col-xs-2
      %img.img-circle.img-responsive{ :src => friend.avatar.url(:thumb)}
    .col-md-10.col-xs-10
      .row
        %h2
          %li.remove-bullet-points= link_to "#{friend.name+friend.last_name++" @"+friend.username}", chat_room_path(chat_room)
