- id = "chat_room_form" if local_assigns[:id].nil?
=form_for @chat_room,:html => {:id => id, :remote => true, 'data-type' => 'html'} do |f|
  .form-group
    = f.label :title
    = f.text_field :title, autofocus: true, class: 'form-control'
  .form-group
    = f.label :friend
    = f.select :friend, options_for_select(Friendship.user_following(current_user).map{|s|[s.friend.name, s.friend.id]}),{},{class: 'form-control'}
  = f.submit "Add!", class: 'btn btn-primary'