.right_col{:role => "main"}
  %div
    .clearfix
    .row.little-padding
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h2#content-user-name
              Conversaciones
              %small
                Historial
            .clearfix
          .x_content
            %p.lead= link_to '<i class="fa fa-plus"></i> Nueva Conversación'.html_safe, new_chat_room_path,remote:true, class: 'btn btn-primary', 'data-type' => 'script'
            %ul
              = render @chat_rooms
      #ModalNew.modal.fade