- friend = @chat_room.get_friend(current_user,@chat_room)
.right_col{:role => "main"}
  %div
    .clearfix
    .row.little-padding
      .col-md-10.col-sm-10.col-xs-10.col-xs-offset-1.col-md-offset-1.col-sm-offset-1
        .x_panel
          .x_title
            .row.middle-xs
              .col-md-10.col-sm-10.col-xs-8
                %h1= " @"+friend.username
              .col-md.col-sm.col-xs.center-xs
                =link_to '<h4><i class="fa fa-mail-reply"></i> Conversaciones</h4>'.html_safe,chat_rooms_path
          .x_content
            #messages.chat_panel{"data-chat-room-id" => "#{@chat_room.id}"}
              = render @chat_room.messages
            = form_for @message, url: '#' do |f|
              .form-group.little-padding
                = f.label "Mensaje"
                = f.text_area :body, class: 'form-control'
                %small.text-muted From 2 to 1000 characters
              = f.submit "Enviar", class: 'btn btn-primary btn-lg'
