= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  =devise_error_messages!
  .form-group
    = f.label :email, class:"text-left grey"
    = f.email_field :email, autofocus: true, class:"form-control"
  .form-group
    = f.label :password, class:"text-left grey"
    = f.password_field :password, autofocus: true, class:"form-control"
  .form-group
    = f.label :password_confirmation, class:"text-left grey"
    = f.password_field :password_confirmation, autofocus: true, class:"form-control"
  .form-group
    = f.label :username, class:"text-left grey"
    = f.text_field :username, autofocus: true, class:"form-control"
  .top-space
    .row.middle-xs
      .col-xs-12.col-md-6
        =f.submit "Registrar",class:"btn btn-primary"
      .col-xs-12.col-md-6
        =link_to "Ya tengo una cuenta",new_user_session_path,class:"white underline"