%div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
  %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a#paypal-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"}
        Paypal
    %li{:role => "presentation"}
      %a#mercadopago-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content2", :role => "tab"}
        MercadoPago
  #myTabContent.tab-content
    #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "paypal-tab", :role => "tabpanel"}
      %table.table.text-align-center
        %thead
          %tr
            %td Username de Colaborador
            %td Monto Acumulado
            %td Período de tiempo
        %tbody
          - if @report_paypal != nil
            - @report_paypal.each do |donation|
              %tr
                %td.padding-table-top= '@'+donation.username.to_s
                %td.padding-table-top= donation.suma.to_s + ' $ '
                %td.padding-table-top= @start_date + ' <--> ' + @end_date
    #tab_content2.tab-pane.fade.in{"aria-labelledby" => "mercadopago-tab", :role => "tabpanel"}
      %table.table.text-align-center
        %thead
          %tr
            %td Username de Colaborador
            %td Monto Acumulado
            %td Período de tiempo
        %tbody
          - if @report_mercadopago != nil
            - @report_mercadopago.each do |donation|
              %tr
                %td.padding-table-top= '@'+donation.username.to_s
                %td.padding-table-top= donation.suma.to_s + ' BsF '
                %td.padding-table-top= @start_date + ' <--> ' + @end_date
