%table.table.text-align-center
  %thead
    %tr
      %td Número de Seguidores
      %td Período de tiempo
  %tbody
    - if @report != nil
      %tr
        %td.padding-table-top= @report.to_s
        %td.padding-table-top= @start_date + ' <--> ' + @end_date