%table.table.text-align-center
  %thead
    %tr
      %td Paypal
      %td MercadoPago
      %td Período de tiempo
  %tbody
    %tr
      - if @paypal_funds != nil
        %td.padding-table-top= @paypal_funds.to_s + ' $ '
      - if @mercadopago_funds != nil
        %td.padding-table-top= @mercadopago_funds.to_s + ' BsF '
      - if @start_date != nil && @end_date != nil
        %td.padding-table-top= @start_date + ' <--> ' + @end_date