%table.table.text-align-center
  %thead
    %tr
      %td Número de comentarios
      %td Publicación
  %tbody
    - if @report != nil
      - @report.each do |post|
        %tr
          %td.padding-table-top= post.comments_count
          %td.padding-table-top= link_to '<i class="fa fa-eye"></i> Ver Publicación'.html_safe,post