- comment = @comment if local_assigns[:comment].nil?
.x_panel
  .row
    .col-md-2.col-xs-2
      %img.img-circle.img-responsive{ :src => comment.user.avatar.url(:thumb)}
    .col-md-10.col-xs-10
      .row
        %h4=comment.user.name+comment.user.last_name+" @"+comment.user.username
      .row.post_body
        =comment.body
