%table.table
  %thead
    %tr
      %td Nombre de la Organización
      %td Número de Registro
      %td Estado de la Solicitud
      %td Opciones
  %tbody
    %tr
      - if @organization_certificate != nil
        %td=@organization_certificate.name
        %td=@organization_certificate.registration_number
        %td=@organization_certificate.status
        %td= link_to '<i class="fa fa-eye"></i> Ver Solicitud'.html_safe,@organization_certificate