.row.little-padding
  .x_panel
    .col-md-offset-3.col-sm-offset-3.col-md-6.col-sm-6.col-xs-12
      .x_content
        .row.center-xs.middle-xs
          = image_tag asset_path("handshake.png")
        %h1.center-xs ¿Quieres registrar tu Organización?
        %ul.remove-bullet-points
          %li
            .row.middle-xs
              .col-md-2
                = image_tag asset_path("icon-number-1.png")
              .col-md-10
                %strong Envíanos tu información.
                Completa el formulario de registro para que nuestro equipo pueda obtener y validar
                los datos de tu organización.
          %li
            .row.middle-xs
              .col-md-2
                = image_tag asset_path("icon-number-2.png")
              .col-md-10
                %strong Autenticación en el portal.
                Una vez nuestro equipo valide la información enviada, serás una organización certificada
                dentro del portal y podrás empezar a recibir donaciones de tus colaboradores!
          %li
            .row.middle-xs
              .col-md-2
                = image_tag asset_path("icon-number-3.png")
              .col-md-10
                %strong Reportes
                Benecom te ayudará a visualizar las donaciones de los usuarios a tu organización y
                obtener diversos indicadores de interés.
        .center-xs
          %h2{style:"padding-bottom:20px;"} Para autenticarte y empezar a recibir colaboraciones, Benecom necesita validar tu información:
          = link_to "Registrar Organización",registration_organization_certificates_path,class:"btn btn-success"