.row.little-padding
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h1 Solicitud de Registro de Organización
      .x_content
        =render 'request_table'
        -if @organization_certificate.nil?
          = link_to '<i class="fa fa-plus"></i> Generar Solicitud'.html_safe,step1_organization_registration_path,class:"btn btn-primary"
        -else
          = link_to '<i class="fa fa-edit"></i> Actualizar Solicitud'.html_safe,step1_organization_registration_path,class:"btn btn-primary"

