.row.little-padding
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        .row.middle-xs
          .col-md-10.col-sm-10.col-xs-8
            %h1 Solicitud Generada
          .col-md.col-sm.col-xs.center-xs
            =link_to '<h4><i class="fa fa-mail-reply"></i> Regresar</h4>'.html_safe,registration_organization_certificates_path
      .x_content
        .row
          .col-md-12.col-sm-12.col-xs-12
            %h3 Estatus
          .col-md-12.col-sm-12.col-xs-12
            .btn.btn-primary.default-cursor=@organization_certificate.status
        .row
          .col-md-6
            %h3 Nombre
            =@organization_certificate.name
          .col-md-6
            %h3 RIF
            =@organization_certificate.registration_number
        .row
          .col-md-6
            %h3 País
            =@organization_certificate.country
          .col-md-6
            %h3 Ciudad
            =@organization_certificate.city
        .row
          .col-md-6
            %h3 Dirección
            =@organization_certificate.primary_address
          .col-md-6
            %h3 Código Postal
            =@organization_certificate.postal_code
        .row
          .col-md-6
            %h3 Telefono
            =@organization_certificate.phone
          .col-md-6
            %h3 Año de Fundación
            =@organization_certificate.foundation_year
        .row
          .col-md-12.col-sm-12.col-xs-12
            %h3 Misión
          .col-md-12.col-sm-12.col-xs-12
            =@organization_certificate.mission
        .row
          .col-md-12.col-sm-12.col-xs-12
            %h3 Visión
          .col-md-12.col-sm-12.col-xs-12
            =@organization_certificate.vision
        .row
          .col-md-12.col-sm-12.col-xs-12
            %h3 Acta Constitutiva
          .col-md-12.col-sm-12.col-xs-12
            -if @organization_certificate.constitutive_act.exists?
              = link_to @organization_certificate.constitutive_act_file_name, @organization_certificate.constitutive_act.url(:original,false)
            -else
              %h5.blue No encontrado
        .row
          .col-md-12.col-sm-12.col-xs-12
            %h3 Estatutos Organizacionales
          .col-md-12.col-sm-12.col-xs-12
            -if @organization_certificate.statutes.exists?
              = link_to @organization_certificate.statutes_file_name, @organization_certificate.statutes.url(:original,false)
            -else
              %h5.blue No encontrado
        .row
          .col-md-12.col-sm-12.col-xs-12
            %h3 Certificación de Registro
          .col-md-12.col-sm-12.col-xs-12
            -if @organization_certificate.registration_certificate.exists?
              = link_to @organization_certificate.registration_certificate_file_name, @organization_certificate.registration_certificate.url(:original,false)
            -else
              %h5.blue No encontrado
