<div class="row">
  <div class="col-md-12 col-xs-12">
    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <butto type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </butto>
              <a><h1 class="blue" style="font-size: 25px;"> BeneCom</h1></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "HOME",root_path,class:"text-letter-spacing grey-title"%></li>
                <li><%= link_to "JOIN",{ controller: "/main", action: "join"},class:"text-letter-spacing grey-title"%></li>
                <li><%= link_to "LEARN",{ controller: "/main", action: "learn"},class:"text-letter-spacing grey-title"%></li>

              </ul>
              <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a id="topnav-user-name" href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <%= image_tag current_user.avatar.url(:thumb), id:"navbar-user-image" %>
                    <%=if current_user.name && current_user.last_name
                         current_user.name+" "+current_user.last_name
                        end %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                      <%= link_to "Perfil",user_path(current_user.id)%>
                    </li>
                    <li>
                      <%= link_to "Donaciones",donations_path%>
                    </li>
                    <%if current_user.is_organization? %>
                        <li>
                          <%= link_to "Reportes",reports_users_path%>
                        </li>
                    <% end %>
                    <li>
                      <%= link_to "Ayuda",{ controller: "/main", action: "learn"}%>
                    </li>
                    <li>
                      <%= link_to "<i class='fa fa-sign-out pull-right'></i>Cerrar Sesion".html_safe,destroy_user_session_path, method: :delete%>

                    </li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <div class="text-center">
                        <%=link_to '<strong>Ver Conversaciones</strong> <i class="fa fa-angle-right"></i>'.html_safe,chat_rooms_path %>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
              <% end %>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>

      </div>
    </div>
    <!-- /top navigation -->
  </div>
</div>