%ul.remove-bullet-points
  .left-list-padding.profile.clearfix
    .profile_pic
      = image_tag current_user.avatar.url(:thumb),class:"img-circle profile_img"
    .profile_info
      - if current_user.name && current_user.last_name
        %p=current_user.name+" "+current_user.last_name
  %li.left-list-padding=link_to "<span class='glyphicon glyphicon-search'> Explorar</span>".html_safe,explore_users_path
  %li.left-list-padding=link_to "<span class='glyphicon glyphicon-flag'> Sugerencias</span>".html_safe,{ controller: "/main", action: "join"}
  %li.left-list-padding=link_to "<span class='glyphicon glyphicon-home'> Benecom</span>".html_safe,{ controller: "/main", action: "home"}
  %li.left-list-padding=link_to "<span class='glyphicon glyphicon-user'> Contacto</span>".html_safe,{ controller: "/main", action: "learn"}