- if @user_likes
  = link_to '<i class="fa fa-thumbs-up"></i> Me Gusta'.html_safe,{ action: :destroy, id: @like.id, post_id: @post.id },method: :delete, remote: true,style: "padding-left:5px;", class: "btn-like", 'data-type' => 'script',clicked: false
- else
  = link_to '<i class="fa fa-thumbs-o-up"></i> Me Gusta'.html_safe,likes_path(post_id: @post.id),method: :post, remote: true, style: "padding-left:5px;",class: "btn-like", 'data-type' => 'script',clicked: false