updated_value = parseInt($("a.btn-like[clicked='true']").prev().text())-1
$("a.btn-like[clicked='true']").prev().html(updated_value)
$("a.btn-like[clicked='true']").replaceWith("<%= j render 'likes/likes_buttons' %>");
