.row.full-height.middle-xs.white.center-xs.main-background.no-margin
  .col-xs-10.col-sm-8.col-md-6.col-lg-4
    .box
      .big-padding.bg-dark-blue.white
        %h1.no-margin.bold.light-blue Resend Confirmation Instructions
        .top-space
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .form-group
              = f.label :email, class:"text-left grey"
              = f.email_field :email, autofocus: true, class:"form-control"
            .top-space
              .row.middle-xs
                .col-xs-12.col-md-12
                  = f.submit "Send me reset password instructions",class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored dark"
              .form-group.top-space
                = render 'devise/shared/links'

