.row.full-height.middle-xs.white.center-xs.main-background.no-margin
  .col-xs-10.col-sm-8.col-md-6.col-lg-4
    .box
      .big-padding.bg-dark-blue.white
        %h1.no-margin.bold.light-blue Completar Registro
        .top-space
          =form_tag "/custom_sign_up",method: :post do
            %ul
              -@user.errors.full_messages.each do |erro|
                %li= erro
            .form-group
              =label "user", "username" ,class:"text-left grey"
              =text_field_tag "user[username]", @user.username, class:"form-control"
            .form-group
              =label "user", "email", class:"text-left grey"
              =email_field_tag "user[email]", @user.email, required: true, class:"form-control"
            .form-group
              =label "user", "name", class:"text-left grey"
              =text_field_tag "user[name]", @user.name, class:"form-control"
            .top-space
              .row.middle-xs
                .col-xs-12.col-md-12
                  =submit_tag "Completar Registro", class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"

