%table.table.text-align-center
  %thead
    %tr
      %td Avatar
      %td Organización
      %td Username
  %tbody
    - if @report != nil
      - @report.each do |report|
        %tr
          %td.padding-table-top
            %img.img-circle.img-responsive{ :src => report.avatar.url(:thumb)}
          %td.padding-table-top= link_to "#{report.name+" "+report.last_name}",report
          %td.padding-table-top= link_to '<i class="fa fa-eye"></i> @'.html_safe+report.username,report