- if @are_friends
  = link_to '<i class="fa fa-check"></i> Siguiendo'.html_safe,{ action: :destroy, id: @friendship.id, friend_id: @friend.id },method: :delete, remote: true, class: "btn btn-primary btn-follow", 'data-type' => 'script',clicked: false
- else
  = link_to '<i class="fa fa-plus"></i> Seguir'.html_safe,friendships_path(friend_id: @friend.id),method: :post, remote: true, class: "btn btn-info btn-follow", 'data-type' => 'script',clicked: false