.x_panel
  .row.middle-xs
    .col-md-2.col-xs-2
      %img.img-circle.img-responsive{ :src => friendship.friend.avatar.url(:thumb)}
    .col-md-8.col-xs-8
      %h2=link_to friendship.friend.username,friendship.friend
    - if current_user != friendship.friend
      .col-md-2.col-xs-2
        - if current_user.is_following?(friendship.friend)
          = link_to '<i class="fa fa-check"></i> Siguiendo'.html_safe,friendship_path(friend_id: friendship.friend.id),method: :delete, remote: true, class: "btn btn-primary btn-follow", 'data-type' => 'script',clicked: false
        - else
          = link_to '<i class="fa fa-plus"></i> Seguir'.html_safe,friendships_path(friend_id: friendship.friend.id),method: :post, remote: true, class: "btn btn-info btn-follow", 'data-type' => 'script',clicked: false

