.x_panel
  .row.middle-xs
    .col-md-2.col-xs-2
      %img.img-circle.img-responsive{ :src => user_followers.user.avatar.url(:thumb)}
    .col-md-8.col-xs-8.middle-xs
      %h2=user_followers.user.username
    - if current_user != user_followers.user
      .col-md-2.col-xs-2
        - if current_user.is_following?(user_followers.user)
          = link_to '<i class="fa fa-check"></i> Siguiendo'.html_safe,friendship_path(friend_id: user_followers.user.id),method: :delete, remote: true, class: "btn btn-primary btn-follow", 'data-type' => 'script',clicked: false
        - else
          = link_to '<i class="fa fa-plus"></i> Seguir'.html_safe,friendships_path(friend_id: user_followers.user.id),method: :post, remote: true, class: "btn btn-info btn-follow", 'data-type' => 'script',clicked: false
