%table.table.text-align-center
  %thead
    %tr
      %td Nombre de la Organización
      %td Número de Registro
      %td Monto
      %td Track ID
      %td Método
      %td Estatus
      %td Fecha
      %td Opciones
  %tbody
    - if @donations != nil
      - @donations.each do |donation|
        %tr
          %td.padding-table-top=donation.organization.organization_certificate.name
          %td.padding-table-top=donation.organization.organization_certificate.registration_number
          %td.padding-table-top=donation.amount
          %td.padding-table-top=donation.transaction_id
          -if donation.donation_type == 'paypal'
            %td= image_tag asset_path("paypal_icon.png")
          -else
            %td= image_tag asset_path("mercado_pago_icon"),{style:"padding-top:7px;padding-bottom:10px;"}
          %td.padding-table-top=donation.status
          %td.padding-table-top=donation.purchased_at
          %td.padding-table-top= link_to '<i class="fa fa-eye"></i> Ver Donación'.html_safe,donation