%table.table.text-align-center
  %thead
    %tr
      %td Nombre del usuaio
      %td Username
      %td Email
      %td Monto
      %td Track ID
      %td Método
      %td Fecha
      %td Opciones
  %tbody
    - if @donors != nil
      - @donors.each do |donation|
        %tr
          -if donation.user.name != nil
            -if donation.user.last_name != nil
              %td.padding-table-top=donation.user.name+donation.user.last_name
            -else
              %td.padding-table-top=donation.user.name
          -else
            %td.padding-table-top="-"
          %td.padding-table-top=donation.user.username
          %td.padding-table-top=donation.user.email
          %td.padding-table-top=donation.amount
          %td.padding-table-top=donation.transaction_id
          -if donation.donation_type == 'paypal'
            %td= image_tag asset_path("paypal_icon.png")
          -else
            %td= image_tag asset_path("mercado_pago_icon"),{style:"padding-top:7px;padding-bottom:10px;"}
          %td.padding-table-top=donation.purchased_at
          %td.padding-table-top= link_to '<i class="fa fa-eye"></i> Ver Donación'.html_safe,donation