=form_for @donation do |f|
  = f.radio_button :donation_type, 'paypal', :checked => true
  = image_tag asset_path("paypal_icon.png")
  = f.radio_button :donation_type, 'mercadopago'
  = image_tag asset_path("mercado_pago_icon.png")
  .form-group
    = f.label "Monto", class:"text-left"
    = f.number_field :amount, autofocus: true, class:"form-control"
  = f.submit 'Colaborar', class:"btn btn-success"