.right_col{:role => "main"}
  %div
    .clearfix
    .row.little-padding
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h2#content-user-name
              Donaciones
              %small
                Historial
            .clearfix
          .x_content
            %h1 Donaciones Realizadas
            =render 'donations_table'
            -if current_user.is_organization?
              %h1 Donaciones Recibidas
              =render 'donors_table'