.right_col{:role => "main"}
  %div
    .clearfix
    .row.little-padding
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h2#content-user-name
              Donaciones
              %small
                =@user.name
            .clearfix
          .x_content
            .col-md-3.col-sm-3.col-xs-12.profile_left
              =render 'usuarios/user_info'
            .col-md-9.col-sm-9.col-xs-9
              %div.x_panel
                %div
                  %h1 Misión
                  = @organization_certificate.mission
                %div
                  %h1 Visión
                  = @organization_certificate.vision
                %div
                  %h1 Seleccione Método de Colaboración
                  .row
                    .col.middle-xs
                      =render 'form'

