.row.little-padding
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        .row.middle-xs
          .col-md-10.col-sm-10.col-xs-8
            %h1 Donación Efectuada
          .col-md.col-sm.col-xs.center-xs
            =link_to '<h4><i class="fa fa-mail-reply"></i> Historial</h4>'.html_safe,donations_path
      .x_content
        .row
          .col-md-12.col-sm-12.col-xs-12
            %h3 Estatus
          .col-md-12.col-sm-12.col-xs-12
            .btn.btn-primary.default-cursor=@donation.status
        .row
          .col-md-6
            %h3 Nombre
            =@donation.organization.organization_certificate.name
          .col-md-6
            %h3 RIF
            =@donation.organization.organization_certificate.registration_number
        .row
          .col-md-6
            %h3 Monto
            =@donation.amount
          .col-md-6
            %h3 Metodo de Pago
            =@donation.donation_type
        .row
          .col-md-6
            %h3 ID de Transacción
            =@donation.transaction_id
          .col-md-6
            %h3 Fecha de Pago
            =@donation.purchased_at
