.row.full-height.middle-xs.white.center-xs.main-background.no-margin
  .col-xs-10.col-sm-8.col-md-6.col-lg-4
    .box.min-box-height.big-padding-top
      .big-padding.bg-dark-blue.white
        %h1.no-margin.bold.light-blue BeneCom
        %p.no-margin Inicia sesión para entrar a nuestra plataforma.
        .top-space
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            =devise_error_messages!
            .form-group
              = f.label :email, class:"text-left grey"
              = f.email_field :email, autofocus: true, class:"form-control"
            .form-group
              = f.label :password, class:"text-left grey"
              = f.password_field :password, autofocus: true, class:"form-control"
            - if devise_mapping.rememberable?
              .form-group
                = f.check_box :remember_me
                = f.label :remember_me
              .top-space
                .row.middle-xs
                  .col-xs-12.col-md-12
                    = f.submit "Iniciar Sesión",class:"btn btn-primary"
              .form-group.top-space
                = render 'devise/shared/links'

