=form_for @user,:html => {:id => 'avatar-form', :remote => true, 'data-type' => 'html'} do |f|
  %label{:for => "avatarInput"} Cargar Archivo
  =f.file_field :avatar
  .row
    .col-md-9
      .avatar-wrapper
  .row.avatar-btns
    .col-md-4
      =f.submit "Guardar"