.modal-dialog
  .row
    .modal-dialog
      .box.box-primary
        / Modal content
        .modal-content
          .modal-header
            .box-header.with-border
              %button.close.modal-close-icon{"data-dismiss" => "modal", :type => "button"}
              %h4.modal-title{:style => "text-align: center;"} Editar Perfil
          .modal-body
            .box-body
              = render 'form', id: "user-edit-form"
          .modal-footer
            %button.btn.btn-default.modal-close{"data-dismiss" => "modal", :type => "button"} Close