- id = "user-form" if local_assigns[:id].nil?
=form_for @user,:html => {:id => id, :remote => true, 'data-type' => 'html'} do |f|
  .form-group
    = f.label :username, class:"text-left"
    = f.text_field :username, autofocus: true, class:"form-control"
  .form-group
    = f.label :email, class:"text-left"
    = f.email_field :email, autofocus: true, class:"form-control"
  .form-group
    = f.label "Nombre", class:"text-left"
    = f.text_field :name, autofocus: true, class:"form-control"
  .form-group
    = f.label "Apellido", class:"text-left"
    = f.text_field :last_name, autofocus: true, class:"form-control"
  .form-group
    = f.label :bio, class:"text-left"
    = f.text_area :bio, autofocus: true, class:"form-control"
  = f.submit 'Publicar', class:"btn btn-primary"