#ajaxcall
  -if current_user == @user
    %a{"data-toggle" => "modal", :href => "#avatar-modal", :role => "button"}
      %img#avatar-image.img-circle.img-responsive{:alt => "Avatar", :src => @user.avatar.url(:medium), :title => "Cambiar avatar"}
  -else
    %img.img-circle.img-responsive{ :src => @user.avatar.url(:medium)}
  .row.middle-xs
    -if @user.is_ong == true
      %img{:src => asset_path("verified_icon.png")}
      - padding_title = "10";
    -else
      - padding_title = "0";
    %h3#user-full-name{style:"padding-left: "+padding_title+"px;"}
      =@user.name
      =@user.last_name
  %ul.list-unstyled.user_data{style:"padding-top: 8px;"}
    %li
      %i.fa.fa-user.user-profile-icon
      =@user.username
    %li
      %i.fa.fa-envelope.user-profile-icon
      =@user.email
    %li
      %i.fa.fa-map-marker.user-profile-icon
      Caracas, Distrito Capital, Venezuela
    %li
      %i.fa.fa-briefcase.user-profile-icon
      Ingeniero Informático
    %li
      %i.user-profile-icon
      =@user.bio