.right_col{:role => "main"}
  %div
    .clearfix
    .row.little-padding
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h1 Conversaciones
          .x_content
            .x_panel.blue
              Patricia Fuenmayor    @patyfuentes
            .x_panel.blue
              Rodolfo Pinho      @rodolf12
            .x_panel.blue
              Ana Sofia        @anasoyt
            .x_panel.blue
              Carlos Silva       @carlow9

