$("#report-title").html("<%= @report_name %>");
<% if @report_id == '1' %>
  $("#report-content").html("<%= j render 'usuarios/explore/most_commented_posts' %>");
<% elsif @report_id == '2' %>
  $("#report-content").html("<%= j render 'usuarios/explore/most_liked_posts' %>");
<% elsif @report_id == '3' %>
  $("#report-content").html("<%= j render 'usuarios/explore/organizations' %>");
<% elsif @report_id == '4' %>
  $("#report-content").html("<%= j render 'usuarios/explore/users' %>");
<% end %>