.right_col{:role => "main"}
  .clearfix
  .row.little-padding
    .col-md-3.col-sm-3.col-xs-3
      %div
        .clearfix
          .x_panel
            .x_title
              %h2
                Organización
                %small
                  Reportes
              .clearfix
            #left-home-list.x_content
              = form_tag("/usuarios/explore", method: "post", remote:true, 'data-type' => 'script') do
                .row.bg-blue.middle-xs.center-xs{style:"border-radius: 20px;height:30px;"}
                  %h2
                    Publicaciones
                %ul.remove-bullet-points{style:"padding-left:0;font-size:17px;padding-top:10px;"}
                  .form-group
                    =radio_button_tag(:report_id,1)
                    %span.glyphicon.glyphicon-comment
                      Más Comentadas
                  .form-group
                    =radio_button_tag(:report_id,2)
                    %span.glyphicon.glyphicon-thumbs-up
                      Más valoradas
                .row.bg-green.middle-xs.center-xs{style:"border-radius: 20px;height:30px;"}
                  %h2
                    Usuarios
                %ul.remove-bullet-points{style:"padding-left:0;font-size:17px;padding-top:10px;"}
                  .form-group
                    =radio_button_tag(:report_id,3)
                    %span.glyphicon.glyphicon-usd
                      Organizaciones
                  .form-group
                    =radio_button_tag(:report_id,4)
                    %span.glyphicon.glyphicon-user
                      Usuarios
                .col-md-8.col-md-offset-2.padding-table-top
                  = submit_tag("Buscar", class:"btn btn-md btn-primary form-control")
    .col-md-9.col-sm-9.col-xs-9
      %div
        .clearfix
          .x_panel
            .x_title
              %h2
                Explorar
                %small{id:"report-title"}
                  Información General
              .clearfix
            #report-content.x_content
              .row.middle-xs
                .col-md-8.col-xs-8.col-sm-8
                  %h1.blue
                    Explorar
                  .big-text
                    En esta sección encontrarás todos los filtros de las publicaciones y usuarios en el portal.
                    %br
                    %br
                    Solo debes seleccionar la herramienta que desees y clickear en el boton de buscar. Comienza
                    a buscar en BeneCom!
                    %br
                    %br
                    .dark-blue
                      Benecom.
                      %i Plataforma de ayuda a las organizaciones benéficas venezolanas.
                .col-md-4.col-xs-4.col-sm-4.center-xs
                  = image_tag asset_path("comunication-icon.png")
