$("#report-title").html("<%= @report_name %>");
<% if @report_id == '1' %>
  $("#report-content").html("<%= j render 'usuarios/reports/most_commented_posts' %>");
<% elsif @report_id == '2' %>
  $("#report-content").html("<%= j render 'usuarios/reports/most_liked_posts' %>");
<% elsif @report_id == '3' %>
  $("#report-content").html("<%= j render 'usuarios/reports/funds_raised' %>");
<% elsif @report_id == '4' %>
  $("#report-content").html("<%= j render 'usuarios/reports/donors_list' %>");
<% elsif @report_id == '5' %>
  $("#report-content").html("<%= j render 'usuarios/reports/donations_history' %>");
<% elsif @report_id == '6' %>
  $("#report-content").html("<%= j render 'usuarios/reports/followers_amount' %>");
<% end %>