.right_col{:role => "main"}
  .clearfix
  .row.little-padding
    .col-md-3.col-sm-3.col-xs-3
      %div
        .clearfix
          .x_panel
            .x_title
              %h2
                Organización
                %small
                  Reportes
              .clearfix
            #left-home-list.x_content
              = form_tag("/usuarios/reports", method: "post", remote:true, 'data-type' => 'script') do
                .row.litle-padding
                  %h2
                    Seleccionar Período de Reporte
                  .control-group
                    .controls
                      .input-prepend.input-group
                        %span.add-on.input-group-addon
                          %i.glyphicon.glyphicon-calendar.fa.fa-calendar
                        %input.form-control{:name => "daterange", :type => "text"}
                        =hidden_field_tag (:startDate)
                        =hidden_field_tag (:endDate)
                .row.bg-blue.middle-xs.center-xs{style:"border-radius: 20px;height:30px;"}
                  %h2
                    Publicaciones
                %ul.remove-bullet-points{style:"padding-left:0;font-size:17px;padding-top:10px;"}
                  .form-group
                    =radio_button_tag(:report_id,1)
                    %span.glyphicon.glyphicon-comment
                      Más Comentadas
                  .form-group
                    =radio_button_tag(:report_id,2)
                    %span.glyphicon.glyphicon-thumbs-up
                      Más valoradas
                .row.bg-green.middle-xs.center-xs{style:"border-radius: 20px;height:30px;"}
                  %h2
                    Donaciones
                %ul.remove-bullet-points{style:"padding-left:0;font-size:17px;padding-top:10px;"}
                  .form-group
                    =radio_button_tag(:report_id,3)
                    %span.glyphicon.glyphicon-usd
                      Fondos Captados
                  .form-group
                    =radio_button_tag(:report_id,4)
                    %span.glyphicon.glyphicon-user
                      Usuarios Colaboradores
                  .form-group
                    =radio_button_tag(:report_id,5)
                    %span.glyphicon.glyphicon-th-list
                      Historial de Colaboraciones
                .row.bg-blue-sky.middle-xs.center-xs{style:"border-radius: 20px;height:30px;"}
                  %h2
                    Otros
                %ul.remove-bullet-points{style:"padding-left:0;font-size:17px;padding-top:10px;"}
                  .form-group
                    =radio_button_tag(:report_id,6)
                    %span.glyphicon.glyphicon-stats
                      Número de Seguidores
                .col-md-8.col-md-offset-2.padding-table-top
                  = submit_tag("Buscar", class:"btn btn-md btn-primary form-control")
    .col-md-9.col-sm-9.col-xs-9
      %div
        .clearfix
          .x_panel
            .x_title
              %h2
                Reportes
                %small{id:"report-title"}
                  Información General
              .clearfix
            #report-content.x_content
              .row.middle-xs
                .col-md-8.col-xs-8.col-sm-8
                  %h1.blue
                    Reportes
                  .big-text
                    En esta sección encontrarás todos los indicadores de interés de tu organización, puedes ver la interacción de la comunidad con
                    tu entidad, información detallada de las publicaciones y donaciones.
                    %br
                    %br
                    Solo debes elegir el período de tiempo del reporte, seleccionar el que deseas en el panel izquierdo y
                    la información será desplegada en el panel actual.
                    %br
                    %br
                    .dark-blue
                      Benecom.
                      %i Plataforma de ayuda a las organizaciones benéficas venezolanas.
                .col-md-4.col-xs-4.col-sm-4.center-xs
                  = image_tag asset_path("report-icon.png")
:javascript
  $(function() {
      $('input[name="daterange"]').daterangepicker({
        "locale": {
        "format": "dd-mm-yy",
        "separator": " - ",
        "applyLabel": "Aplicar",
        "cancelLabel": "Cancelar",
        "fromLabel": "Desde",
        "toLabel": "Hasta",
        "customRangeLabel": "Custom",
        "daysOfWeek": [
            "Dom",
            "Lun",
            "Mar",
            "Mie",
            "Jue",
            "Vie",
            "Sa"
        ],
        "monthNames": [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        "firstDay": 1
        }
      }, function(start,end){
        $('input[name="startDate"]').val(start.format('YYYY-MM-DD'));
        $('input[name="endDate"]').val(end.format('YYYY-MM-DD'));
      });
  });
