.right_col{:role => "main"}
  %div
    .clearfix
    .row.little-padding
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h2#content-user-name
              =@user.name
              =@user.last_name
              %small Perfil
            .clearfix
          .x_content
            .col-md-3.col-sm-3.col-xs-12.profile_left
              =render 'user_info'
              - if current_user == @user
                #avatar-modal.modal.fade{:role => "dialog"}
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %button.close{"data-dismiss" => "modal", :type => "button"}
                        %h4.modal-title Modal Header
                      .modal-body
                        =render 'avatar_form'
                      .modal-footer
                        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              - if current_user == @user
                = link_to '<i class="fa fa-edit"></i> Editar Peril'.html_safe,{:controller => :usuarios, :action => :edit}, remote: true, class: "btn btn-success", 'data-type' => 'script'
              - else
                - unless current_user.is_following?(@user)
                  = link_to '<i class="fa fa-plus"></i> Seguir'.html_safe,friendships_path(friend_id: @user.id),method: :post, remote: true, class: "btn btn-info btn-follow", 'data-type' => 'script',clicked: false
                - else
                  = link_to '<i class="fa fa-check"></i> Siguiendo'.html_safe,friendship_path(friend_id: @user.id),method: :delete, remote: true, class: "btn btn-primary btn-follow", 'data-type' => 'script',clicked: false
              / start skills
              %h4 Intereses
              %ul.list-unstyled.user_data
                %li
                  %p Deporte
                  .progress.progress_sm
                    .progress-bar.bg-green{"data-transitiongoal" => "50", :role => "progressbar", 'aria-valuenow':"49", style:"width: 50%;"}
                %li
                  %p Cultura
                  .progress.progress_sm
                    .progress-bar.bg-green{"data-transitiongoal" => "70", :role => "progressbar",'aria-valuenow':"70", style:"width: 70%;"}
                %li
                  %p Cine
                  .progress.progress_sm
                    .progress-bar.bg-green{"data-transitiongoal" => "30", :role => "progressbar",'aria-valuenow':"80", style:"width: 80%;"}
                %li
                  %p Viajes
                  .progress.progress_sm
                    .progress-bar.bg-green{"data-transitiongoal" => "50", :role => "progressbar",'aria-valuenow':"20", style:"width: 20%;"}
              / end of skills
            .col-md-9.col-sm-9.col-xs-12
              - if @user.is_organization?
                %div.x_panel
                  %div
                    %h1 Misión
                    = @organization_certificate.mission
                  %div
                    %h1 Visión
                    = @organization_certificate.vision
                  %div
                    %h1 Colaborar
                    = link_to 'Realizar Colaboración',new_donation_path(:organization_id => @user.id), class: "btn btn-primary", 'data-type' => 'script',clicked: false


              %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
                %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
                  %li.active{:role => "presentation"}
                    %a#home-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"} Actividad Reciente
                  %li{:role => "presentation"}
                    %a#profile-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content2", :role => "tab"} Siguiendo
                  %li{:role => "presentation"}
                    %a#profile-tab2{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content3", :role => "tab"} Seguidores
                #myTabContent.tab-content
                  #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                    / comenzar actividad reciente
                    =render @posts
                  #tab_content2.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                    =render @friendships
                  #tab_content3.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                    =render :partial => 'friendships/user_followers', :collection => @user_followers
            #ModalEdit.modal.fade
