- id = "post-form" if local_assigns[:id].nil?
=form_for @post,:html => {:id => id, :remote => true, 'data-type' => 'html'} do |f|
  .form-group
    = f.label :body,"Comprate con la comunidad", class:"text-left"
    = f.text_area :body, autofocus: true, class:"form-control"
  .actions
    = f.submit 'Publicar', class:"btn btn-primary"
