- post = @post if local_assigns[:post].nil?
.x_panel
  .row
    .col-md-2.col-xs-2
      %img.img-circle.img-responsive{ :src => post.user.avatar.url(:thumb)}
    .col-md-10.col-xs-10
      .row
        %h4= link_to post.user.name+post.user.last_name+" @"+post.user.username,post.user
      .row.post_body
        =post.body
      .row.post_footer
        %p.post-blue=(post.likes_count).to_s
        -like = Like.where(user:current_user,post:post)
        - unless current_user.likes?(post)
          = link_to '<i class="fa fa-thumbs-o-up"></i> Me Gusta'.html_safe,likes_path(post_id: post.id),method: :post, remote: true,style: "padding-left:5px;", class: "btn-like", 'data-type' => 'script',clicked: false
        - else
          = link_to '<i class="fa fa-thumbs-up"></i> Me Gusta'.html_safe,like_path(like,post_id: post.id),method: :delete, remote: true, style: "padding-left:5px;",class: "btn-like", 'data-type' => 'script',clicked: false
        %p.post-blue{style:"padding-left:15px;"}=(post.comments_count).to_s
        =link_to '<i class="fa fa-comment-o"></i> Comentar'.html_safe,post,{style:"padding-left:5px;"}
