- post = @post if local_assigns[:post].nil?
.right_col{role:"main"}
  .row.big-padding
    .col-md-12.col-sm-12.col-xs-12
      .row
        .col-md-3.col-sm-3.col-xs-12{id:"left-home-list"}
          = render 'partials/user_navbar'
        .col-md-6.col-sm-6.col-xs-12
          .x_panel
            .row
              .col-md-2.col-xs-2
                %img.img-circle.img-responsive{ :src => post.user.avatar.url(:thumb)}
              .col-md-10.col-xs-10
                .row
                  %h4=post.user.name+post.user.last_name+" @"+post.user.username
                .row.post_body
                  =post.body
                .row.post_footer
                  =link_to '<i class="fa fa-thumbs-o-up"></i> Me Gusta'.html_safe,root_path
          .x_panel
            =render 'comments/form'
          #comments
            .data
              =render @comments
            #pagination
              =will_paginate @comments



