<!-- page content -->
<div class="right_col" role="main">

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel min-box-height">

        </div>
      </div>
    </div>

</div>
<!-- /page content -->



