// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html{
  height: 100%;
  background-color: #e9ebee;
}

.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.no-margin{
  margin: 0;
}
.big-padding{
  padding:2em 1.5em ;
}
.main-background{
  background-image: image_url(#{asset_path('background2.jpg')});
  background-size: cover;
  background-repeat: no-repeat;
}
.dark-blue{
  color: #2A3F54;
}
.bg-dark-blue{
  background-color: rgba(42, 63, 84, 0.5);
}
.light-blue{
  color: #50C1CF;
}
.white{
  color: #fff;
}
.top-space{
  margin-top: 1em;
}
.underline{
  text-decoration: underline;
}
.grey {
  color: #d7dadb;
}
.text-left{
  float: left;
}
.text-right{
  float: right;
}
.navbar-header, .navbar-nav li a{
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}

.container-fluid{
  background-color: #fff;
}
//.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
//  background-color: #FFFF00;
//  color: #FFC0CB;
//}
.remove-bullet-points{
  list-style-type: none;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
.text-letter-spacing{
  letter-spacing: .1em;
}
.grey-title {
  color: #867f75 !important;
  font-size: 2em;
  line-height: 1.375;
  font-weight: 800;
}
.min-box-height{
  height: 600px;
}
.big-padding-top{
  padding-top: 3em;
}
.extra-lg-padding-top{
  padding-top: 8em;
}
.main-color-background{
  background-color: #e9ebee;
}
.left-list-padding{
  padding:1em 1.5em;
}
#left-home-list li a{
  color: #222222;
  font-size: 16px;
}
#left-home-list li:hover{
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #D3D6FF;
}
.little-padding{
  padding: 1em;
}
.banner-join{
  background-image: image_url(#{asset_path('banner-join.jpg')});
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
  position: relative;
}
.banner-learn{
  background-image: image_url(#{asset_path('banner-learn.jpg')});
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
  position: relative;
}
.banner-text{
  width: 80%;
  text-align: center;
  max-height: 80%;
  color: #FFF;
}
.layout_center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
}
.layout_inline{
  display: inline-block;
}
.image-overlay{
  background: #293541;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-title {
  color: #fff;
  font-size: 3em;
  letter-spacing: .025em;
  font-weight: 400;
  line-height: 1.15;
}
.banner-subtitle{
  font-style: italic;
  font-weight: 400;
  color: #FFF;
  font-size: 1.25em;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
.panel-margin{
  margin-left: 8.5%;
  margin-right: 8.5%;
}
.panel-heading-title {
  color: #fff;
  font-size: 2em;
  letter-spacing: .025em;
  font-weight: 400;
  line-height: 1.15;
}
.no-padding{
  padding: 0;
}
.list-element-padding {
  padding-top: 5%;
  padding-bottom: 5%;
}
.big-text{
  font-size: 20px;
}
thead {
  background-color: #4CAF50;
  color: white;
}
.wizard_steps a:hover {
  text-decoration: none;
}
.padding-table-top{
  padding-top: 30px !important;
}
.text-align-center{
  text-align: center;
}
.post_body{
  padding-top: 10px;
}
.post_footer{
  padding-top: 10px;
}
.post-blue{
  color: #337ab7;
}
#messages {
  max-height: 380px;
  .avatar {
    margin: 0.5rem;
  }
}
.chat_panel{
  overflow: scroll;
  height: 380px;
  overflow-x: hidden;
}