- id = "organization_documents_form" if local_assigns[:id].nil?
=form_for @user_wizard, as: :user_wizard,:html => {:id => id, :remote => true, 'data-type' => 'html'}, url: validate_step_organization_registration_path do |f|
  = hidden_field_tag :current_step, 'step3'
  .form-group
    = f.label "Acta Constitutiva", class:"text-left"
    = f.file_field :constitutive_act, autofocus: true, class:"form-control"
  .form-group
    = f.label "Estatutos Oeganizacionales", class:"text-left"
    = f.file_field :statutes, autofocus: true, class:"form-control"
  .form-group
    = f.label "Certificación de Registro", class:"text-left"
    = f.file_field :registration_certificate, autofocus: true, class:"form-control"
  .form-group
    = f.submit 'Finalizar',class:"btn btn-primary"