- id = "organization_registration_form" if local_assigns[:id].nil?
=form_for @user_wizard, as: :user_wizard,:html => {:id => id, :remote => true, 'data-type' => 'html'}, url: validate_step_organization_registration_path do |f|
  = hidden_field_tag :current_step, 'step1'
  .row
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "Nombre", class:"text-left"
        = f.text_field :name, autofocus: true, class:"form-control"
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "Año de Fundación", class:"text-left"
        = f.number_field :foundation_year, autofocus: true, class:"form-control"
  .row
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "País", class:"text-left"
        = f.select :country,options_for_select(['Venezuela']),{},{:class => 'form-control'}
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "Ciudad", class:"text-left"
        = f.text_field :city, autofocus: true, class:"form-control"
  .row
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "Dirección", class:"text-left"
        = f.text_field :primary_address, autofocus: true, class:"form-control"
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "Codigo Postal", class:"text-left"
        = f.number_field :postal_code, autofocus: true, class:"form-control"
  .row
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "Telefono", class:"text-left"
        = f.text_field :phone, autofocus: true, class:"form-control"
    .col-md-6.col-xs-12.col-sm-6
      .form-group
        = f.label "Pagina Web", class:"text-left"
        = f.text_field :website, autofocus: true, class:"form-control"
  .form-group
    = f.submit 'Continuar',class:"btn btn-primary"