- id = "organization_mission_form" if local_assigns[:id].nil?
=form_for @user_wizard, as: :user_wizard,:html => {:id => id, :remote => true, 'data-type' => 'html'}, url: validate_step_organization_registration_path do |f|
  = hidden_field_tag :current_step, 'step2'
  .form-group
    = f.label "RIF", class:"text-left"
    = f.text_field :registration_number, autofocus: true, class:"form-control"
  .form-group
    = f.label "Misión", class:"text-left"
    = f.text_area :mission, autofocus: true, class:"form-control"
  .form-group
    = f.label "Visión", class:"text-left"
    = f.text_area :vision, autofocus: true, class:"form-control"
  .form-group
    = f.submit 'Continuar',class:"btn btn-primary"