.row.little-padding
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_content
        #wizard.form_wizard.wizard_horizontal
          %ul.wizard_steps
            %li.active
              %a.selected
                %span.step_no 1
                %span.step_descr
                  Organización
                  %br/
                  %small Información Detallada
            %li
              %a.disabled
                %span.step_no 2
                %span.step_descr
                  Misión
                  %br/
                  %small Propósitos, Programas
            %li
              %a.disabled
                %span.step_no 3
                %span.step_descr
                  Documentación
                  %br/
                  %small Actas Organizacionales
        =render 'form_organization_details'

:javascript
  $(document).ready(function() {
      // Smart Wizard
      $(user.rb).smartWizard();
  });

  $(document).ready(function() {
      // Smart Wizard
      $('#wizard_verticle').smartWizard({
          transitionEffect: 'slide'
      });

  });