<!DOCTYPE html>
<html>
<head>
  <title>Benecom</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-green.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p style="<%= 'display:none;' if notice.nil? && alert.nil? %>"><%= notice %><%= alert %></p>
<%= yield %>
</body>
</html>
